!!! 5
html
  head
    title A Brooklyn Chorus
    meta(charset="utf-8")
    meta(name="description", content="An interactive SMS-powered installation piece.  Built at Art Hack Day 2012 - Brooklyn, New York.")
    meta(name="author", content="Rob Spectre")
    meta(name="keywords", content="a brooklyn chorus, brooklyn chorus, art, hack, rob spectre, brooklyn hacker, art hack day 2012")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

    link(rel="stylesheet", href="/stylesheets/base.min.css")
    link(rel="stylesheet", href="/stylesheets/skeleton.min.css")
    link(rel="stylesheet", href="/stylesheets/layout.css")

    link(rel="shortcut icon", href="/images/favicon.ico")
    link(rel="apple-touch-icon", href="/images/apple-touch-icon.png")
    link(rel="apple-touch-icon", sizes="72x72", href="/images/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="114x114", href="/images/apple-touch-icon-114x114.png")
    link(property="og:title", content="A Brooklyn Chorus.")
    link(property="og:description", content="An interactive SMS-powered installation piece.  Built at Art Hack Day 2012 - Brooklyn, New York.")
    link(property="og:image", content="")
  body
  div#canvas_container
  script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
  script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/0.8.4/socket.io.min.js")
  script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.0.0/raphael-min.js")
  script(type="text/javascript")
    var nodes = [];
    var amp_multiplier = 50;
      
    function createNewNode(node_data, paper) {
      var container = $("#canvas_container");
      var x = Math.floor((Math.random() * (container.width() / 2) +
      container.width() / 4));
      var y = Math.floor((Math.random() * (container.height() / 2) +
      container.height() / 4));
      if (node_data.sentiment.docSentiment.score === undefined) {
        var amp = 30;
        var attributes = {fill: '#666666', stroke: '#ffffff', 'stroke-width':
        5, r: amp};
      } else if (node_data.sentiment.docSentiment.score < 0) {
        var amp = (-1 * node_data.sentiment.docSentiment.score) * amp_multiplier;
        var attributes = {fill: '#FF0000', stroke: '#0000FF', 'stroke-width':
        5, r: amp};
      } else {
        var amp = node_data.sentiment.docSentiment.score * amp_multiplier;
        var attributes = {fill: '#0000FF', stroke: '#FF0000', 'stroke-width':
        5, r: amp};
      }
      var circle = paper.circle(x, y, 0);
      circle.animate(attributes, 2000, 'bounce');
      circle.score = node_data.sentiment.docSentiment.score;
      circle.id = node_data.sms.From;
      return circle;
    } 

    $('document').ready(function() {  
      var container = $("canvas_container");
      var paper = new Raphael(
        document.getElementById('canvas_container'), container.width(),
        container.height()
      );
      var socket = io.connect('http://localhost:5000');
     
      socket.on('connect', function(){
        socket.emit('message', {action: 'subscribe', channel: 'chorus'});
        console.log("Connected.");
      });

      socket.on('message', function(msg){
        console.log("Received message for node: " + msg.data.sms.From);
        node = createNewNode(msg.data, paper); 
        nodes.push(node);
      });
    });
