!!! 5
html
  head
    title A Brooklyn Chorus
    meta(charset="utf-8")
    meta(name="description", content="An interactive SMS-powered installation piece.  Built at Art Hack Day 2012 - Brooklyn, New York.")
    meta(name="author", content="Rob Spectre")
    meta(name="keywords", content="a brooklyn chorus, brooklyn chorus, art, hack, rob spectre, brooklyn hacker, art hack day 2012")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

    link(rel="stylesheet", href="/stylesheets/base.min.css")
    link(rel="stylesheet", href="/stylesheets/skeleton.min.css")
    link(rel="stylesheet", href="/stylesheets/layout.css")

    link(rel="shortcut icon", href="/images/favicon.ico")
    link(rel="apple-touch-icon", href="/images/apple-touch-icon.png")
    link(rel="apple-touch-icon", sizes="72x72", href="/images/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="114x114", href="/images/apple-touch-icon-114x114.png")
    link(property="og:title", content="A Brooklyn Chorus.")
    link(property="og:description", content="An interactive SMS-powered installation piece.  Built at Art Hack Day 2012 - Brooklyn, New York.")
    link(property="og:image", content="")
  body
    div.container
      div#canvas_container
  script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/0.8.4/socket.io.min.js")
  script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.0.0/raphael-min.js")
  script(type="text/javascript")
    window.onload = function() {  
      var paper = new Raphael(
          document.getElementById('canvas_container'), 500, 500
      );
 
      var socket = io.connect('http://localhost:5000');
     
      socket.on('connect', function(){
        socket.emit('message', {action: 'subscribe', channel: 'chorus'});
        console.log("Connected.");
      });

      socket.on('message', function(msg){
        console.log(msg.channel + ": " + msg.data);
      });
    }
